@model IEnumerable<GestaoProff.Models.CertificadoModel>

<h2>Lista de Certificados</h2>

<p>
    <a asp-action="Adicionar">Adicionar Novo Certificado</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Matrícula do Aluno</th>
            <th>ID do Curso</th>
            <th>Data do Certificado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificado in Model)
        {
                <tr>
                    <td>@certificado.IdCertificado</td>
                    <td>@certificado.MatriculaAluno</td>
                    <td>@certificado.IdCurso</td>
                    <td>@certificado.DataCertificado</td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@certificado.IdCertificado">Detalhes</a> |
                        <a asp-action="Editar" asp-route-id="@certificado.IdCertificado">Editar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
