@model IEnumerable<GestaoProff.Models.UsuarioModel>

<h2>Lista de Usuários</h2>

<p>
    <a asp-action="Adicionar">Adicionar Novo Usuário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Usuário</th>
            <th>Senha do Usuário</th>
            <th>Tipo de Usuário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
                <tr>
                    <td>@usuario.IdUsuario</td>
                    <td>@usuario.NomeUsuario</td>
                    <td>@usuario.SenhaUsuario</td>
                    <td>@usuario.TipoUsuario</td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@usuario.IdUsuario">Detalhes</a> |
                        <a asp-action="Editar" asp-route-id="@usuario.IdUsuario">Editar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
