@model IEnumerable<GestaoProff.Models.DisciplinaModel>

<h2>Lista de Disciplinas</h2>

<p>
    <a asp-action="Adicionar">Adicionar Nova Disciplina</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome da Disciplina</th>
            <th>ID do Curso</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disciplina in Model)
        {
                <tr>
                    <td>@disciplina.IdDisciplina</td>
                    <td>@disciplina.NomeDisciplina</td>
                    <td>@disciplina.IdCurso</td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@disciplina.IdDisciplina">Detalhes</a> |
                        <a asp-action="Editar" asp-route-id="@disciplina.IdDisciplina">Editar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
