@model IEnumerable<GestaoProff.Models.PeriodoLetivoModel>

<h2>Lista de Períodos Letivos</h2>

<p>
    <a asp-action="Adicionar">Adicionar Novo Período Letivo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var periodoLetivo in Model)
        {
                <tr>
                    <td>@periodoLetivo.IdPeriodoLetivo</td>
                    <td>@periodoLetivo.DataInicioPL</td>
                    <td>@periodoLetivo.DataFimPL</td>
                    <td>@periodoLetivo.AtivoPL</td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@periodoLetivo.IdPeriodoLetivo">Detalhes</a> |
                        <a asp-action="Editar" asp-route-id="@periodoLetivo.IdPeriodoLetivo">Editar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
